@CHARSET "UTF-8";
@import url("selectric.css");
@import url("showHideDiv.css");

/* THIS IS JUST THE BASIC CSS WITH THE BACK BUTTON STYLED
   USE IT TO BUILD MODULE'S OWN CSS */

#back a {
	background: url(../../../../../layout/wisp/img/back.png) no-repeat
		center left;
	display: block;
	padding: 0 0 0 40px;
}
