@CHARSET "UTF-8";

/**
 * Form styling
 */
#top_container_form {
	float: left;
	margin-bottom: 30px;
	width: 100%;
}

#left_proposal_form {
	float: left;
	width: 45%
}

#right_proposal_form {
	float: right;
	width: 45%
}

#hidden_form_controls {
	/* display: none; */
}

/**
 * NOTE: all fullcalendar related properties must be marked as important
 * because this css is included by ada rendering engine before the one
 * from fullcalendar
 */
.holiday,.fc-agenda .holiday .fc-event-time,.holiday a {
	background-color: lightgreen !important; /* background color */
	border-color: darkgreen !important; /* border color */
	color: black !important; /* text color */
	padding: 2px;
}

.loadedEvents,.fc-agenda .loadedEvents .fc-event-time,.loadedEvents a {
	background-color: lightgray !important; /* background color */
	border-color: darkgray !important; /* border color */
	color: black !important; /* text color */
	padding: 2px;
	cursor: pointer !important;
}

/**
 * details dialog
 */
#proposalDetails {
	font-size: 0.9em;
}

#proposalUserDetails,#proposalNotes,#proposalTypeDetails {
	font-weight: bold;
	margin: 5px 0 15px 20px;
	display: block;
}