/* 
    Document   : switcher
    Created on : 13-set-2013, 21.41.41
    Author     : graffio
    Description:
        Purpose of the stylesheet follows.
*/

@import url("../page.css");
@import url("../form.css");

#form_div {
    padding:10px;
    float: left;
}

.strong_text {
    font-weight: bold; 
}
#info_div {
    padding:10px;
    
}
