@CHARSET "UTF-8";
@import url("forms.css");

/* THIS IS JUST THE BASIC CSS WITH THE BACK BUTTON STYLED
   USE IT TO BUILD MODULE'S OWN CSS */

#back a {
	background: url(../../../../../layout/wisp/img/back.png) no-repeat
		center left;
	display: block;
	padding: 0 0 0 40px;
}

/*
 * index page
 */
 
#searchForm { width: 100%; margin: 0 auto; }
#searchForm fieldset.form li.form { border: none; }
 
/*
 * end index page
 */

 
/**
 * search form
 */

#searchForm fieldset { margin:0; padding:0; }
#searchForm #s { float: none; margin-left: 5px; }
#searchForm fieldset#set_tipologia  li.form > label { display: inline-block; margin:0; margin-right: 10px; }
#searchForm fieldset#set_tipologia  li.form > select { float: left; }
#searchForm fieldset#set_tipologia  li.form  { float:left; }
#searchFrom p.submit.form { margin: 0; }

/**
 * end search form
 */ 

 
/*
 * search results page
 */

#searchResults .yousearched { display: block; }

#searchResults #resultsWrapper { overflow: hidden; margin-top: 10px; padding: 5px; border:1px dotted #cacaca; position: relative; z-index:100; }

#searchResults #resultsWrapper #progressbar { position: absolute; width: 100%; height: 16px; top:0; left:0; opacity:0.8; z-index:199; }
#searchResults #resultsWrapper #progressbar .progress-label { position: absolute; left: 0px; width: 100%; text-align: center; font-weight: bold; font-size:0.9em; text-shadow: 1px 1px 0 #fff; }

#searchResults #resultsWrapper #lex-progressbar { position: absolute; width: 100%; height: 16px; top:0; left:0; opacity:0.8; z-index:198; }
#searchResults #resultsWrapper #lex-progressbar .progress-label { position: absolute; left: 0px; width: 100%; text-align: center; font-weight: bold; font-size:0.9em; text-shadow: 1px 1px 0 #fff; }

#searchResults #resultsWrapper #moduleLexResults { float: left; width: 50%; padding: 0 10px 0 10px; display: none; }

#searchResults #resultsWrapper #nodeResults { overflow: hidden; float: none; display: block; padding: 0 10px 0 10px; height:auto; }
#searchResults #resultsWrapper #moduleLexResults #moduleLexResultsTitle,
#searchResults #resultsWrapper #nodeResults #nodeResultsTitle { width: 100%; text-align: center; display: block; margin: 5px 0 5px 0; padding-bottom: 5px; border-bottom: 1px dotted #cacaca; font-size: 1.1em; font-weight: bold; }

#searchResults #resultsWrapper #moduleLexResults .moduleLexResult,
#searchResults #resultsWrapper #nodeResults .nodeResult { margin-bottom: 5px; display: none; }

#searchResults #resultsWrapper #moduleLexResults .moduleLexResult .dataTables_wrapper,
#searchResults #resultsWrapper #nodeResults .nodeResult .dataTables_wrapper { padding:15px; }

#searchResults #resultsWrapper #moduleLexResults .moduleLexResult .gotofont { position: relative; z-index: 100; float: right; padding-top: 0.7em; padding-right: 1em; font-size: 0.9em; }

#searchResults #resultsWrapper #moduleLexResults .moduleLexResult table,
#searchResults #resultsWrapper #nodeResults .nodeResult table { width: 100%; }

#searchResults #resultsWrapper #moduleLexResults .moduleLexResult tbody td,
#searchResults #resultsWrapper #nodeResults .nodeResult tbody td { border: none; padding-right:0; }

#searchResults #resultsWrapper h3 > span.typology { display: block; font-size: 0.8em; font-weight: normal; margin: 0.5em 1.6em 0 1.6em; color: #555; }

#searchResults #resultsWrapper #moduleLexResults .moduleLexResultsTable tbody tr td a.tooltip {
	display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 25em;
}

/*
 * end search results page
 */
 
