
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3-ott-2014, 13.00.51
    Author     : sara
*/


#data{
    margin-top: 0;
}
#blocco_uno {
/*    
background-color: #D3D6FF;
border-radius: 10px;
*/
position: relative;
width: 40%;
min-height: 400px;
/*height: 300px;
margin-top: 70px;
margin-left: 30px;
*/
float:right;

border: 1px solid #D5D6D1;
background: #EFF0EB;
border-radius: 2px;
color: #222222;
font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
font-size: 1.1em;
 /* box-shadow: 0 5px 15px 0 rgba(120, 120, 120, 0.4); */
margin: 5px 10px 5px 0;
padding: 10px;

//background-color: red;

}
#bloccoUnoTitoloContenitore {
    border-radius: 2px;
    background: url("../../img/ui-bg_gloss-wave_55_5c9ccc_500x100.png") repeat-x scroll 50% 50% #005281;
    border: 1px solid #4297D7;
    color: #FFFFFF;
    font-weight: bold;
    padding-bottom: 4px;
    padding-left: 0.2em;
    height: 25px;
}
#bloccoUnoTitoloContenitore h2{
    font-size: 1em;
    margin-bottom: 1px;
    margin-left: 5px;
    margin-top: 6px;

}
#content_blocco_uno {
    margin-bottom: 20px;
    position: relative;
    font-size: 12px;
}


/* blocco accordion */

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 2px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 2px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 2px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 2px;
}