@CHARSET "UTF-8";

#countdownWrapper {
	/*
	 * leave top and bottom padding at 0
	 * for animation purposes
	 */
	width: 40%;
	float: left;
	text-align: center;
	border: 1px dotted darkcyan;
	padding: 0 10px 0 10px;
	margin-top: 10px;
	background: lightblue;
}

#appointmentCountdown {
	float: left;
	width: 96%;
	padding: 5px;
	margin: 5px 0 5px 0;
}

.countdownMessage.above {
	display: inline-block;
	margin-top: 5px;
}

.countdownMessage.below {
	display: inline-block;
	text-align: center;
	margin: 5px 0 5px 0;
	font-size: 0.85em;
}